<% content_for :page_title do %>
  <%# Spree.t(:eposnow_products) %> <%# TODO Change to variants %>
  Epos Now Categories

<% end %>

<% content_for :page_actions do %>
  <%# button_link_to 'Sync', sync_admin_eposnow_categories_path, class: "btn-success" %>
  <%= button_to 'Sync', sync_admin_eposnow_categories_path, class: "btn btn-success" %>
<% end %>

<div class='row'>

  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <% @categories.first.keys.each do |x| %>
            <th><%= x %></th>
          <% end %>
        </tr>  
      </thead>
      <tbody>
        <% @categories.each do |x| %>
          <tr>
            <% x.values.each do |y| %>
              <td><%= y %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<div class='row'>
  <div class="col-md-12">
    <%# button_link_to 'Create New Customer', new_admin_eposnow_customer_path, { class: "btn-success", icon: 'add', id: 'admin_new_product' } %> 
  </div>
</div>